.farms-img{
    img{
        position: fixed;
        top: 70px;
        height: 100vh;
        right: -130px;
        z-index: -1;
    }
}
.farms-content{
    h1{
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 1.5rem;
        display: flex;
        flex-direction: column;
        color: #000000;

        small{
            font-size: 17px;
            padding-top: 7px;
            color: #707070;
        }
    }
    .tool-wrap{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 20px;
        padding: 15px;
        margin-bottom: 1.5rem;
        height: 107px;
        color: #000000;
        font-weight: normal;

        .tool-left{
            button{
                background-color: transparent;
                border: none;
                height: 32px;
                width: 32px;
            }
            button.active{
                svg{
                    path{
                        fill: #4D774E;
                    }
                }
            }
            .form-check{
                padding-left: 15px;
                display: inline-block;
                cursor: pointer;

                input{
                    height: 1.5rem;
                    width: 2.5rem;
                    margin-top: 0px;
                    position: relative;
                    margin-left: 0;
                    margin-right: 8px;
                    background-color: #ffffff;
                    border-color: #ffffff;
                    box-shadow: none;
                    background-image: url(../images/toggle-icon.svg);
                }
                input:focus{
                    background-image: url(../images/toggle-icon.svg);
                }
                input:checked{
                    background-color: #4D774E;
                    border-color: #4D774E;
                    background-image: url(../images/toggle-icon-active.svg);
                }
                label{
                    margin-top: 2px;
                    cursor: pointer;
                }
            }
            .btn-group{
                background-color: #ffffff;
                margin-left: 1.5rem;
                border-radius: 100px;

                .btn{
                    min-width: 100px;
                    box-shadow: none;
                    color: #707070;
                }
                .btn.active{
                    background-color: #4D774E;
                    border-radius: 100px;
                    color: #C3D55F;
                    border: 3px solid #ffffff;
                }
            }
        }
        .tool-right{
            display: flex;
            
            .form-group{
                margin-left: 1rem;
            
                label{
                    margin-bottom: .1rem;
                }
                .form-control{
                    border-radius: 20px;
                    background-color: #ffffff;
                    border-color: #ffffff;
                    color: #000000;
                    padding: 0 15px;
                    font-size: 15px;
                    height: 38px;
                    width: 100%;
                    box-shadow: none;
                    margin-right: 1rem;
                    line-height: 38px;
                    min-width: 150px;
                }
                select{
                    cursor: pointer;
                }
            }
        }
    }
    .card-wrap{
        display: flex;
        flex-wrap: wrap;
    
        .card{
            border-radius: 20px;
            background-color: #f1f1f1;
            border-color: #f1f1f1;
            padding: 15px;
            margin-right: 20px;
            width: 335px;
            color: #000000;
            margin-bottom: 2rem;
            display: inline-table;

            .card-head{
                display: flex;
                align-items: center;
                justify-content: space-between;

                img, 
                svg{
                    width: 35px;
                    height: 35px;
                    color: #4D774E;
                }
                h5{
                    margin: 0;
                    font-weight: bold;
                    margin-bottom: 5px;
                    color: #4D774E;
                }
                span{
                    min-width: 50px;
                    height: 25px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 100px;
                    background-color: #ffffff;
                    color: #4D774E;
                    line-height: 25px;
                    padding: 10px;
                    margin-left: 5px;
                }
                .core{
                    background-color: #ffffff;
                    color: #4D774E;
                    border: 1px solid #ffffff;

                    svg{
                        margin-right: 5px;
                        width: 20px;

                        path{
                            fill: #4D774E;
                        }
                    }
                }
                .right{
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    text-align: right;
                }
            }
            .card-body{
                padding: 1rem 0 0;

                .table-wrap{
                    margin-top: 1rem;

                    .content{
                        padding: 7px 0;
                        border-top: 1px solid rgba(195, 213, 95, .1);
                        display: flex;
                        justify-content: space-between;
                        font-size: 14px;

                        svg{
                            margin-right: 5px;

                            path{
                                fill: #4D774E;
                            }
                        }
                    }
                    .content-bottom{
                        padding: 7px 0;
                        display: flex;
                        justify-content: space-between;
                        font-size: 14px;
                        opacity: .3;
                        cursor: not-allowed;

                        svg{
                            margin-right: 5px;

                            path{
                                fill: #C3D55F;
                            }
                        }
                        span{
                            button{
                                background-color: #4D774E;
                                color: #C3D55F;
                                height: 45px;
                                min-width: 100px;
                                align-items: center;
                                justify-content: center;
                                border-radius: 100px;
                                border: 1px solid #4D774E;
                                padding: 0 15px;
                                line-height: 45px;
                                text-transform: uppercase;
                                font-size: 13px;
                                margin-top: -20px;
                                cursor: not-allowed;
                            }
                            button:hover{
                                background-color: #1c584e;
                                border-color: #1c584e;
                            }
                        }
                    }
                    small{
                        margin: 1rem 0;
                        display: flex;
                    }
                }
            }
            .card-foot{
                display: flex;
                justify-content: center;
                margin: .5rem 0 1rem;

                button{
                    background-color: #4D774E;
                    color: #C3D55F;
                    height: 45px;
                    min-width: 100px;
                    align-items: center;
                    justify-content: center;
                    border-radius: 100px;
                    border: 1px solid #4D774E;
                    padding: 0 15px;
                    line-height: 45px;
                    text-transform: uppercase;
                    font-size: 13px;
                    width: 100%;
                }
                button:hover{
                    background-color: #1c584e;
                    border-color: #1c584e;
                }
            }
        }
        .card:nth-child(3n){ 
            margin-right: 0;
        }
        .collapse-wrap{
            border-top: 1px solid rgba(195, 213, 95, .1);
            margin-top: 1rem;
            padding-top: 1rem;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            a{
                color: #4D774E;

                svg{
                    font-size: 17px;
                }
            }
            a[aria-expanded="true"]{
                svg{
                    transform: rotate(180deg);
                    transition: all ease .5s;
                }
            }
            a[aria-expanded="false"]{
                svg{
                    transform: rotate(0deg);
                    transition: all ease .5s;
                }
            }
            .collapse, 
            .collapsing{
                width: 100%;
            
                .card{
                    width: auto;
                    background-color: transparent;
                    margin: 0;
                    display: flex;

                    .content{
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: .5rem;
                    }
                    a{
                        font-size: 14px;
                        line-height: 24px;

                        svg{
                            margin-left: 5px;

                            path{
                                fill: #4D774E;
                            }
                        }
                    }
                }
            }
        }
    }
}