nav{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .container-fluid{
        display: flex;
        align-items: center;
        justify-content: space-between;
    
        .nav-left{
            button{
                border: none;
                background-color: transparent !important;
                margin-right: 2rem;
            }
            a{
                font-size: 18px;

                img{
                    width: 30px;
                    margin-right: 8px;
                }
            }
        }
        .nav-right{
            display: flex;
            
            button{
                height: 38px;
                min-width: 100px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                border-radius: 100px;
                border: 1px solid;
                padding: 0 15px;
                line-height: 39px;
                text-transform: uppercase;
                font-size: 13px;
            }
            .profile{
                border: 1px solid #F1F1F1;
                border-radius: 50%;
                height: 38px;
                width: 38px;
                margin-left: 7px;
                background-color: transparent;
                display: flex;
                align-items: center;
                justify-content: center;

                img, 
                svg{
                    max-width: 100%;
                    max-height: 100%;
                    object-fit: contain;
                    width: 100%;
                    height: 100%;

                    path{
                        fill: #F1F1F1;
                    }
                }
            }
        }
    }
}