nav{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 5px rgba(22, 74, 65, .5);

    .container-fluid{
        display: flex;
        align-items: center;
        justify-content: space-between;
    
        .nav-left{
            button{
                border: none;
                background-color: transparent;
                margin-right: 2rem;

                svg{
                    path{
                        fill: #164A41;
                    }
                }
            }
            a{
                color: #164A41;
                font-size: 18px;

                img{
                    width: 35px;
                    margin-right: 7px;
                }
                span{
                    color: #C3D55F;
                }
            }
        }
        .nav-right{
            display: flex;
            
            button{
                background-color: #164A41;
                color: #9DC88D;
                height: 38px;
                min-width: 100px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                border-radius: 100px;
                border: 1px solid #164A41;
                padding: 0 15px;
                line-height: 39px;
                text-transform: uppercase;
                font-size: 13px;
            }
            button:hover{
                background-color: #1e6357;
                border-color: #1e6357;
            }
            .profile{
                border: 1px solid #C3D55F;
                border-radius: 50%;
                height: 38px;
                width: 38px;
                padding: 5px;
                margin-left: 7px;
                background-color: #C3D55F;
                display: flex;
                align-items: center;
                justify-content: center;

                img{
                    max-width: 100%;
                    max-height: 100%;
                    object-fit: contain;
                }
            }
        }
    }
}