.drawer{
    top: 0;
    position: fixed;
    height: 100vh;
    transition: transform .2s ease-in-out,width .2s ease-in-out;
    width: 4.75rem;
    z-index: 10000;

    .drawer-header{
        display: flex;
        justify-content: center;
        padding-top: .7rem;
        padding-bottom: .7rem;
        border-bottom-width: 1px;
        border-bottom-style: solid;
    }
}