body {
  margin: 0;
  font-family: 'Sunflower', sans-serif;
  padding: 0;
  position: relative;
  font-weight: bold;
  font-size: 15px;
  overflow-x: hidden;
}
code {
  font-family: 'Sunflower', sans-serif;
}
a:hover{
  text-decoration: none;
}
button{
  letter-spacing: 1px;
  outline: none;
}
.content-right{
  padding-left: 30px;
  margin-top: 20px;
  padding-right: 30px;
  width: calc(100% - 250px);
}

/* width */

::-webkit-scrollbar {
  width: 5px;
  height: 1px;
}

/* Track */

::-webkit-scrollbar-track {
  background: #9DC88D;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #164A41;
  border-radius: 0;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #164A41;
}

/*for-section-text-start-here*/

::selection {
  background: #164A41;
  /* WebKit/Blink Browsers */
  color: #fff;
}

::-webkit-selection {
  background: #164A41;
  color: #fff;
}

::-ms-selection {
  background: #164A41;
  color: #fff;
}

::-o-selection {
  background: #164A41;
  color: #fff;
}

::-moz-selection {
  background: #164A41;
  color: #fff;
}
.main-content{
  min-height: calc(100vh - 60px);
}
.mt-1p5{
  margin-top: 1.5rem;
}
.mb-1p2{
  margin-bottom: 1.2rem !important;
}
.MuiDialog-paper{
  width: auto;
  min-width: 360px;
  max-width: 360px !important;
  margin: 0 !important;
  border-radius: 20px !important;
  padding: 15px;
}
.MuiDialogTitle-root{ 
  padding: 0 15px 20px !important; 
}
.MuiDialogTitle-root h2{
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0;
  display: flex;
    align-items: center;
    justify-content: space-between;
} 
.MuiDialogTitle-root h2 button{
    background: none;
    border: none;
}
.MuiDialogContent-root{ padding: 0 15px 15px !important; }
.MuiDialogContent-root .wallet-wrap a{
  border-radius: 20px;
  padding: 8px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 14px;
}
.MuiDialogContent-root .wallet-wrap a:hover{ opacity: .8; }
.MuiDialog-paperScrollPaper{ max-height: calc(100% - 15px) !important; }
.MuiTypography-body1{ font-size: 14px !important; }
.MuiDialogContent-root .wallet-wrap{ margin-bottom: 1.5rem; }
.MuiDialogContent-root .learnmore{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #4D774E;
}
.MuiDialogContent-root .learnmore svg{ margin-right: 5px; }
.MuiDialogContent-root .learnmore svg path{ fill: #4D774E; }